.LstDialog::-webkit-scrollbar {
    width: 7px;
}

.LstDialog::-webkit-scrollbar-track {
    background-color: transparent;
}

.LstDialog::-webkit-scrollbar-thumb  {
    background-color: #777;
}

.LstDialog {
    position: fixed;
    min-width: 320px;
    width: 80%;
    max-width: 768px;
    background-color: #000000e0;
    color: #777;
    border: 0;
    border-radius: 20px;
    max-height: calc(100vh - 122px);
    padding: 20px;
    padding-top: 0;
    overflow-y: auto;
    outline: 16px solid #aaaaaa3d;
    z-index: 9999;
}

.LstDialog .LstClose {
    width: min-content;
    top: 13px;
    position: sticky;
    margin-left: auto;
    border-radius: 50%;
    background-color: #383838;
    padding: 8px;
    box-sizing: content-box;

}
.LstDialog .LstClose:after {
    opacity: .5;
}