<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .iframe {
        height: 260px;
        width: 100%;
        max-width: 800px;
    }
</style>
    <iframe class="iframe" id="iframe" src="iframe.html" sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0"></iframe>
    <script>
      iframe.onload = () => {
        iframe.contentWindow.view.create(`lesta.mount({template: 'test1'})`)
      }
    </script>
</body>
</html>