.LstInput {
  font-size: var(--fs-xs);
  min-height: 1em;
  max-width: 34ch;
  min-width: 10ch;
  width: 100%;
  border: 1px solid var(--gray200);
}
.LstInput:focus {
  outline: 1px solid var(--gray200);
}
.LstLabel {
  margin: var(--xs) 0 var(--xxs) 0;
}
.LstLabel:empty {
  display: none;
}
.LstMessage:empty {
  display: none;
}