<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <link href="../styles/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/codemirror.css" type="text/css"/>
    <link rel="stylesheet" href="../styles/themecode.css" type="text/css"/>
    <link rel="stylesheet" href="../styles/lint.css" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/javascript-lint.min.js"></script>
    <script src="https://unpkg.com/jshint@2.13.2/dist/jshint.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a class="logo">Edit on Papakha</a>
            <div class="buttons" id="view-control">
                <div class="split active">split</div>
                <div class="code">code</div>
                <div class="result">result</div>
            </div>
        </div>
        <div id="container">
            <div id="editor"></div>
            <div id="result"></div>
        </div>
    </div>
    <script type="module">
      import view from './index.js'
      window.view = view
    </script>
</body>
</html>